@import 'base/variables';
@import 'blocks/header';
@import 'blocks/cart';
@import 'blocks/descriptions';
@import 'blocks/main_imgs';
@import 'blocks/slider';
@import 'blocks/hamburger';
@import 'blocks/side';
@import 'blocks/media';


.container {
    width: 1200px;
    margin: 0 auto;
}

*{
    margin: 0;
    font-family: Kumbh Sans, sans-serif;
    box-sizing: border-box;
}
button {
    &:hover{
        opacity: 30%;
        transition: all 0.5s;
        cursor: pointer;
    }
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.display {
    display: none;
}
