.total__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.grid__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 145px);
    column-gap: 10px;
    row-gap: 50px;
    grid-auto-rows: minmax(30px, auto);
    grid-template-rows: repeat(2, 620px);
}

.first {
    grid-column: 1 / 5;
    width: 600px;
}

.boots {
    border-radius: 20px;
    cursor: pointer;
}
.mini {
    width: 125px;
}
.mini {
    &:hover{
        opacity: 50%;
        transition: all 0.5s;
    }
}
.active__class {
    opacity: 40%;
    cursor: default;
    transition: all 0.5s;
}
.wrap {
    margin-top: 4px;
    margin-left: 10px;
    border-radius: 20px;
    height: 125px;
    width: 125px;
    outline: 4px solid $orange-color;
    &__hide{
        outline: none;
    }
}
