.slider {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
}
.slide{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -5px;
    top: -50px;
    img {
        width: 20px;
        height: 20px; 
    }
}

.close{
    img{
        &:hover{
            cursor: pointer;
            width: 25px;
            height: 25px;
            transition: all 0.5s;
        }
    }  
}

.prev, .next {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: $white-color;
    border-radius: 100%;
}

.prev {
    left: -5%;
    top: 40%;
    transform: translateY(-50%);
    &:hover {
        cursor: pointer;
    }
}

.prev {
    img{
        position: absolute;
        left: 21px;
        top: 20px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.next {
    img{
        position: absolute;
        right: 22px;
        top: 20px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.next {
    left: 93%;
    top: 40%;
    transform: translateY(-50%);
    &:hover {
        cursor: pointer;
    }
}
